# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
.venv*/
pip-wheel-metadata/
dist/
build/
*.log

# Env & secrets
.env
.env.*
!.env.example

# Editors / tooling
.vscode/
.idea/
.mypy_cache/
.pytest_cache/
.coverage
htmlcov/
coverage.xml

# macOS / OS
.DS_Store

# Project outputs (keep folder but ignore files)
out/*
!out/.gitkeep
